.container-fluid {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--neutral-color);
}

.navbar {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--neutral-color_1);

  // Dar animación al toggler
  /* Remove border from toggler */
  .navbar-toggler {
    border: 0 !important;
  }

  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
  }


  /* Lines of the Toggler */
  .toggler-icon {
    width: 30px;
    height: 3px;
    background-color: var(--black-color);
    display: block;
    transition: all 0.2s;
  }

  /* Adds Space between the lines */
  .middle-bar {
    margin: 5px auto;
    border-radius: 20px;
  }

  /* State when navbar is opened (START) */
  .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    border-radius: 20px;
    margin-top: 10px;
  }

  .navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    border-radius: 20px;
  }
  /* State when navbar is opened (END) */

  /* State when navbar is collapsed (START) */
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
  }

  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
  }
  /* State when navbar is collapsed (END) */

  /* Color of Toggler when collapsed */
  .navbar-toggler .collapsed .toggler-icon {
    background-color: var(--black-color);
  }

  i {
    margin-right: 10px;
    margin-left: -10px;
  }

  .navbar-brand {
    img {
      margin-left: -60px;

      @media screen and (min-width: 993px) {
        padding-left: 20px;
        padding-top: 2px;
        width: 82%;
      }
    }
  }

  .navbar-collapse {
    margin-top: 20px;
    margin-left: -40px;

    @media screen and (max-width: 993px) {
      margin-left: 0px;
    }

    li {
      margin-top: -5px;
      margin-right: 20px;

      a {
        @media screen and (max-width: 993px) {
          margin-bottom: 10px;
        }
      
        button {
          border-radius: 20px;
          border: 1px solid #d8d7d7;
          font-family: var(--font-title);
          font-style: normal;
          font-weight: 500;
          padding: 5px 30px 5px 30px;
          background-color: var(--primary-color);
          color: var(--black-color);

          &:hover {
            background-color: var(--secondary-color);
            border: 1px solid #d8d7d7;
            color: var(--white-color);
            transition: 0.2s ease;
          }

          @media screen and (max-width: 992px) {
            border-radius: 0;
            border: none;
            background-color: var(--white-color);
            padding: 0;
            font-family: var(--font-title);
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 27px;

            i {
              display: none;
            }

            &:hover, &:active, &:focus {
              background-color: var(--white-color);
              color: var(--secondary-color);
              border: 0;
              border-radius: 0;
            }
          }
        }
      }
    }
  }

  .navbar-nav {

    li {
      font-family: var(--font-title);
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 27px;
      padding: 15px 0 0 25px;

      #home {
        @media screen and (min-width: 993px) and (max-width: 1300px) {
          display: none;
        }         
      } 

      #categorias, #carrito {
        @media screen and (min-width: 993px) and (max-width: 1150px) {
          display: none;
        }         
      } 

      #btn {
        @media screen and (min-width: 992px) and (max-width: 992px) {
          display: none;
        }         
      } 

      a {
        color: var(--neutral-color_4);
        margin-top: -20px;

        &:hover, &:active, &:focus {
          color: var(--secondary-color);
        }
      }
    }

    .dropdown-menu { 
      max-height: 700px; overflow-y: auto; min-width: 350px !important; background-attachment: local, local, scroll, scroll; 
    }

    .dropdown-item { 
      white-space: normal; 
      margin-top: 2px;
    }
  }

  .navbar-icons {
    i {
    display: inline-block;
    justify-content: center;
    padding-right: 20px;
    }
  }
}

.form-control {
  display: block;
  width: 140% !important;
  padding: .375rem .75rem;
  margin-top: -10px;
  font-family: var(--font-base);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--neutral-color_1);
  background-color: #F7F7F7;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 30px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &:focus, &:active {
    outline: 0;
    box-shadow: none;
    background-color: #F7F7F7;
    border: 1px solid #d5d5d5;
    font-family: var(--font-base);
    font-size: 1rem;
    font-weight: 400;
    color: var(--neutral-color_3);
    line-height: 1.5;
  }

  &::placeholder {
    padding-left: 5px;
  }

  @media screen and (min-width: 1100px){
    width: 130%;
  }

  //para que la barra form solo aparezca a partir de 992px
  @media screen and (max-width: 992px) {
    display: none;
  }
}

@media screen and (min-width: 993px) {
  .navbar .navbar-brand img {
    margin-left: 0px;
  }
}